@charset 'utf-8'

.no-border
  border: 0px !important
.padding-xs
  padding 5px
.ptb-xs
  padding-top 5px
  padding-bottom 5px
.mtb-xs
  margin-top 5px
  margin-bottom 5px
.pt-15
  padding-top 15px
.mr-15
  margin-right 15px

// 293136
.server-container
  background #f4f7fa
  padding-left 160px
  .sidebar
    position fixed
    top 0
    left 0
    bottom 0
    width 160px
    background #293136
    overflow-x hidden
    overflow-y auto
    .menu
      .ant-menu-dark
        background: #293136 !important
        .ant-menu-submenu.ant-menu-submenu-inline,
        .ant-menu-inline.ant-menu-sub
        // .ant-menu-item
          background: #2b333e !important
        .ant-menu-inline.ant-menu-sub
          box-shadow: none !important
  .topbar
    background: #fff
    padding-bottom 0px
    box-sizing border-box
    .top-tab
      .ant-tabs-bar
        .ant-tabs-tab-active,
        .ant-tabs-tab:hover
          color #4e86f5 !important
        .ant-tabs-ink-bar
          width 34px !important
          margin-left 24px
    .bottom-tab
      .ant-tabs-bar
        margin-bottom  0px !important
        .ant-tabs-tab-active,
        .ant-tabs-tab:hover
          color #4e86f5 !important
        .ant-tabs-ink-bar
          display none !important
  .content
    margin 0px
    padding 0px
    box-sizing border-box
    font-size: 14px
    .box
      padding 15px

  